<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>${artifactId}</symbolicName>
    <name>${artifactId}</name>
    <version>${version}</version>

    <!-- TODO - As needed, adapt metadata elements here -->
    <description>BEAM ${artifactId}</description>
    <description>This module provides the operators SingleTileOp and MultiTileOp</description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <changelog>
        <![CDATA[ ]]>
    </changelog>

    <categories>Processor,VISAT</categories>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <extension point="beam-ui:actions">

        <action>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>

            <!-- TODO - Adapt the following action elements -->
            <parent>tools</parent>
            <id>${artifactId}-SingleTileOp</id>
            <helpId>${artifactId}</helpId>
            <operatorName>SingleTileOp</operatorName>
            <text>SingleTileOp...</text>
            <dialogTitle>SingleTileOp</dialogTitle>
            <targetProductNameSuffix>_SingleTileOp</targetProductNameSuffix>
        </action>

        <action>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>

            <!-- TODO - Adapt the following action elements -->
            <parent>tools</parent>
            <id>${artifactId}-MultiTileOp</id>
            <helpId>${artifactId}</helpId>
            <operatorName>MultiTileOp</operatorName>
            <text>MultiTileOp...</text>
            <dialogTitle>MultiTileOp</dialogTitle>
            <targetProductNameSuffix>_MultiTileOp</targetProductNameSuffix>
        </action>

    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/__artifactId__.hs</path>
        </helpSet>
    </extension>

</module>